<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paste to HTML</title>
  <link rel="stylesheet" href="./lib/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="./lib/codemirror/theme/material.css">
  <link rel="stylesheet" href="./lib/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
  <div class="container">
    <div class="col-editor" id="col-editor">
      <h1 class="editor__caption">Paste to HTML</h1>
      <div class="editor__head">
        <div class="menubar" id="editor-menu">
          <div class="el-button-group">
            <button id="btn-undo" type="button" class="el-button el-button--small" title="撤销"><i class="el-icon-back"></i> 撤销</button>
            <button id="btn-clear" type="button" class="el-button el-button--small" title="清空"><i class="el-icon-delete"></i> 清空</button>
            <button id="btn-beautify" type="button" class="el-button el-button--small" title="格式化"><i class="el-icon-s-fold"></i> 格式化</button>
            <button id="btn-wrap" type="button" class="el-button el-button--small" title="切换自动换行"><i class="el-icon-s-unfold"></i> 切换自动换行</button>
          </div>
        </div>
        <div class="menubar" id="clean-menu">
          <el-button-group>
            <el-button id="btn-clean" size="medium" round type="primary" icon="el-icon-s-open">清理 &amp; 转换</el-button>
            <el-button id="btn-options" size="medium" round type="primary" icon="el-icon-s-tools" @click="dialogVisible = true"></el-button size="medium" round>
          </el-button-group>

          <el-dialog title="参数设置" :visible.sync="dialogVisible" append-to-body="true">
            <el-form :model="form" :label-width="formLabelWidth">
              <el-tabs tab-position="left" style="height: 200px;">
                <el-tab-pane label="图片">
                  <el-form-item label="图片路径：">
                    <el-input v-model="form.img_path" autocomplete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="点击放大：">
                    <el-switch v-model="form.img_lightbox"></el-switch>
                  </el-form-item>
                  <el-form-item label="懒加载：">
                    <el-switch v-model="form.img_lazyload"></el-switch>
                  </el-form-item>
                </el-tab-pane>
                <el-tab-pane label="列表">
                  <el-form-item label="列表类型：">
                    <el-radio-group v-model="form.list_type">
                      <el-radio label="ul">无序列表</el-radio>
                      <el-radio label="ol">有序列表</el-radio>
                    </el-radio-group>
                  </el-form-item>
                </el-tab-pane>
                <el-tab-pane label="表格">
                  <el-form-item label="表格类名：">
                    <el-input v-model="form.table_class" autocomplete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="表格外包 div：">
                    <el-switch v-model="form.table_wrapper"></el-switch>
                  </el-form-item>
                  <el-form-item label="外包 div 类名:">
                    <el-input v-model="form.table_wrapper_class" autocomplete="off" :disabled="!form.table_wrapper"></el-input>
                  </el-form-item>
                </el-tab-pane>
              </el-tabs>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
            </div>
          </el-dialog>
        </div>
      </div>
      <div class="editor__body">
        <div id="code"></div>
      </div>
    </div>
    <div class="col-preview" id="col-preview">
      <!-- <button id="refresh-preview" class="el-button el-button--danger el-button--small" title="刷新预览窗口"><i class="el-icon-refresh"></i></button> -->
      <button id="toggle-preview" class="el-button el-button--danger el-button--small" title="显示 / 隐藏预览窗口"><i class="el-icon-arrow-left"></i></button>
      <div class="preview">
        <iframe id="preview_window" name="preview_window" src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="./lib/jquery.slim.min.js"></script>
  <script src="./lib/underscore-min.js"></script>
  <script src="./lib/vue.min.js"></script>
  <script src="./lib/element-ui/lib/index.js"></script>

  <script src="./lib/js-beautify/js/lib/beautify-html.js"></script>

  <script src="./lib/codemirror/lib/codemirror.js"></script>
  <script src="./lib/codemirror/mode/xml/xml.js"></script>
  <script src="./lib/codemirror/mode/javascript/javascript.js"></script>
  <script src="./lib/codemirror/mode/css/css.js"></script>
  <script src="./lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>

  <script src="./src/js/html-parser.js"></script>
  <script src="./src/js/dochtml.js"></script>
  <script src="./src/js/main.js"></script>
</body>
</html>
